@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');


body{
    padding: 0px;
    margin: 0px;
    background-color: #98b2ffee;
}
header{
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    display:block;
    text-align: center; 
    background-image: url(img/fondo/conchas.jpg);
    background-size: 150%;
    padding-top: 15px;
    height: 20%;  
}

#titulo{
    font-size: 40px;
    color: black;
    font-family: 'Dancing Script';
    letter-spacing: 10px;
    text-align: center;
    text-shadow:2px 3px 4px #6779CB;
}

#subtitulo{
    padding-top: 10px;
    font-size: 25px;
    color: #AE7D18;
    font-family: 'Dancing Script';
    text-align: center;
    
}
#menu{
    background-color:  rgba(116, 71, 13, 0.7);
    padding: 1%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    position:relative;
    z-index: 1;
    transform: translateY(20px);
    
}
#menu a{
    text-decoration: none;
    color: whitesmoke;
    text-shadow:1px 2px 3px white;
    font-family:'Edu VIC WA NT Beginner';
    font-size: 30px;
    padding: 10px 20px;
    position: relative;


}
#menu a::before, nav a::after {
    content: '𓇼 ';
    position: absolute;
    opacity: 0;
    color: gold;
    font-size: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#menu a::before {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

#menu a::after {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) scale(0.5);
}

#menu a:hover::before, #menu a:hover::after {
    opacity: 1;
    transform: translate(0, 0) scale(1);
}
#contenido{
    margin: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.tarjeta{
    width: 28%;
    margin: 10px;
    background-color: #6779CB;
    padding: 10px;
    border-radius: 5px;
 
   
}
.tarjeta .descripcion{
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 20px;      
}

.tarjeta .descripcion p:last-child{
    font-size: 15px;
    font-family: "Josefin Sans";
    text-shadow:2px 3px 4px blue;
}
.tarjeta img{
    width: 100%;
    border-radius: 15px;
}

.tarjeta img:hover{
   animation: zoom 3s forwards; 
}

 @keyframes zoom {
    0%{
        width:100%;
    }
    100%{
       transform: scale(120%) ;
       transform: translateX(-15%);
       width: 150%;
    }
 }

 
footer{  
    padding: 15px;
    color: white;
    text-align: center;
    background-color: rgba(62, 94, 251, 0.664);
}
header:hover #titulo{
    font-size: 30px;
    color: #6e2c00;
    text-shadow: 2px 3px 4px black;
}

header:hover #subtitulo{
    color: black;
}

@media (max-width:600px){
    #titulo{
        font-size: 25px;
    } 
    #subtitulo{
        font-size: 20px;
    }
    .tarjeta{
        width: 100%;
    }
    #menu a{
        font-size: 10px;

    }
    #menu a::before, nav a::after {
        font-size: 10px;
    }
}