
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: #98b2ffee;
}

header{
    background-color: whitesmoke;
    padding: 30px;
    padding-bottom: 15px;
    border-bottom: 5px solid rgba(62, 94, 251, 0.664);
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
#titulo{
    font-size: 40px;
    color: black;
    font-family: 'Dancing Script';
    letter-spacing: 10px;
    text-align: center;
    text-shadow:2px 3px 4px #6779CB;
}

header:hover{
    #titulo{
        font-size: 50px;
        color: #AE7D18;
    }
    #subtitulo{
        color: black;
    }
  
}

#subtitulo{
    padding-top: 10px;
    font-size: 25px;
    color: #AE7D18;
    font-family: 'Dancing Script';
    text-align: center;
    
}

#contenido{
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.tarjeta{
    width: 28%;
    margin: 10px;
    background-color: #6779CB;
    padding: 10px;
    border-radius: 5px;
    img{
        width: 100%;
        border-radius: 15px;
    }
    img:hover{
       animation: zoom 3s forwards; 
    }
    .descripcion{
    padding: 4px;
    text-align: center;
    color: white;
    
    font-size: 20px;
        p:last-child{
            font-size: 15px;
            font-family: "Josefin Sans";
            text-shadow:2px 3px 4px blue;
        }
    }
}
 @keyframes zoom {
    0%{
        width:100%;
    }
    100%{
       transform: scale(120%) ;
       transform: translateX(-15%);
       width: 150%;
    }
 }

 }
footer{
    
    padding: 15px;
    color: white;
    text-align: center;
    background-color: rgba(62, 94, 251, 0.664);
}
@media (max-width:600px){
    #titulo{
        font-size: 25px;
    }
    
    header:hover{
    #titulo{
        font-size: 30px;
        color: #AE7D18;
    }
    #subtitulo{
        color: black;
    }
  
}
    #subtitulo{
        font-size: 20px;
    }
    .tarjeta{
        width: 100%;
    }
}